#{extends 'base.html' /}

<script>
	(function(){
		setPage("projectsMenu");
	})();
</script>

<!-- 
<div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> &{'under.construction.notdone'}</div>
-->

<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
	      <div style="height: 150px; text-align: center"><img src="public/images/CreativeV1/siteLogo.png"/></div>
	      <div class="caption">
	        <h3>&{'siteV1.title'}</h3>
	        <p>
	        	<span class="label label-default">HTML</span>
	        	<span class="label label-default">CSS</span>
	        	<span class="label label-default">JavaScript</span>
	        	<span class="label label-default">Play Framework 1.x</span>
	        	<span class="label label-default">Blender</span>
	        	<span class="label label-default">Gimp</span>
	        	<span class="label label-default">RaspberryPI</span>
	        	<span class="label label-default">Responsive</span>
	        	<span class="label label-default">Debian</span>
	        <p>
	        <p>&{'siteV1.details'}</p>
	        <p><a class="btn btn-primary" href="/siteV1" role="button">&{'view.details'} &raquo;</a></p>
	      </div>
	   </div>
      </div>
		<div class="col-md-4">
		<div class="thumbnail">
	      <div style="height: 150px; text-align: center"><img src="public/images/Probe/probeLogo.png"/></div>
	      <div class="caption">
	        <h3>&{'probe.title'}</h3>
	         <p>
	         	<span class="label label-default">Robot</span>
	        	<span class="label label-default">Teensy USB</span>
	        	<span class="label label-default">7805</span>
	        	<span class="label label-default">Arduino</span>
	        	<span class="label label-default">Ubuntu</span>
	        	<span class="label label-default">UML</span>
	        	<span class="label label-default">C/C++</span>
	        <p>
	        <p>&{'probe.details'}</p>
	        <p><a class="btn btn-primary" href="/probe" role="button">&{'view.details'} &raquo;</a></p>
	      </div>
	    </div>
       </div>
       <div class="col-md-4">

       </div>
 </div>
