#{extends 'base.html' /}

<script>
	(function(){
		setPage("projectsMenu");
	})();
</script>

#{stylesheet 'masterhead.css' /}

<div class="container">
<h1>&{'siteV1.title'}</h1>
</div>

<!--main-->
<div class="container">

	<div class="row">

      <div class="col-md-3" id="leftCol">
          <ul class="nav nav-stacked" id="sidebar">
          <li><a href="#sec1">&{'siteV1.title1'}</a></li>
          <li><a href="#sec2">&{'siteV1.title2'}</a></li>
          <li><a href="#sec3">&{'siteV1.title3'}</a></li>
          <li><a href="#sec4">&{'siteV1.title4'}</a></li>
          <li><a href="#sec5">&{'siteV1.title5'}</a></li>
          <li><a href="#sec6">&{'siteV1.title6'}</a></li>
          <li><a href="#sec7">&{'siteV1.title7'}</a></li>
          <li><a href="#sec8">&{'siteV1.title8'}</a></li>
          <li><a href="#sec9">&{'siteV1.title9'}</a></li>
          <li><a href="#sec10">&{'siteV1.title10'}</a></li>
          <li><a href="#sec11">&{'siteV1.title11'}</a></li>
        </ul>
      </div>
      
      <!--right-->
      <div class="col-md-9">
      
        <h2 id="sec1">&{'siteV1.title1'}</h2>
        <p>
          &{'siteV1.title1.text'}
          </p>
          
        <hr>
        
        <h2 id="sec2">&{'siteV1.title2'}</h2>
        <p>
          &{'siteV1.title2.text'}
        </p>

        <h2 id="sec3">&{'siteV1.title3'}</h2>
              <p>
	        &{'siteV1.title3.text'}
	        </p>
         
        <h2 id="sec4">&{'siteV1.title4'}</h2>
              <p>
	        &{'siteV1.title4.text'}
	        </p>

        
        <h2 id="sec5">&{'siteV1.title5'}</h2>
	        <p>
	          &{'siteV1.title5.text'}
	         </p>
	         <br/>
	          <div class="panel panel-default">
              <div class="panel-body">
              	<img src="public/images/CreativeV1/raspberry.png" class="img-responsive" />
              </div>
            </div>

		<h2 id="sec6">&{'siteV1.title6'}</h2>
		<p>
	 		&{'siteV1.title6.text'}
	  	</p>
	  	
	  	<h2 id="sec7">&{'siteV1.title7'}</h2>
		<p>
	 		&{'siteV1.title7.text'}
	  	</p>
	  	
	  	<br/>
            <div class="panel panel-default">
              <div class="panel-body">
              	<img src="public/images/CreativeV1/mobile.png" class="img-responsive" />
              </div>
            </div>
	  	
	  	<h2 id="sec8">&{'siteV1.title8'}</h2>
		<p>
	 		&{'siteV1.title8.text'}
	  	</p>
	  	
	  	<h2 id="sec9">&{'siteV1.title9'}</h2>
		<p>
	 		&{'siteV1.title9.text'}
	  	</p>
	  	
	  	<h2 id="sec10">&{'siteV1.title10'}</h2>
		<p>
		<a href="public/files/CreativeYannV1.zip">&{'siteV1.title10.subtext'}</a>
	  	</p>
	  	
	  	<h2 id="sec11">&{'siteV1.title11'}</h2>
		<div class="row">
     	  <div class="col-md-4"><a href="public/images/CreativeV1/site1_big.jpg" target="_blanck" class="thumbnail"><img src="public/images/CreativeV1/site1.jpg" class="img-responsive" /></a></div>
          <div class="col-md-4"><a href="public/images/CreativeV1/site2_big.jpg" target="_blanck" class="thumbnail"><img src="public/images/CreativeV1/site2.jpg" class="img-responsive" /></a></div>
          <div class="col-md-4"><a href="public/images/CreativeV1/site3_big.jpg" target="_blanck" class="thumbnail"><img src="public/images/CreativeV1/site3.jpg" class="img-responsive" /></a></div>
        </div>
        <br/>
        <div class="row">
     	  <div class="col-md-4"><a href="public/images/CreativeV1/site4_big.jpg" target="_blanck" class="thumbnail"><img src="public/images/CreativeV1/site4.jpg" class="img-responsive" /></a></div>
          <div class="col-md-4"><a href="public/images/CreativeV1/site5_big.jpg" target="_blanck" class="thumbnail"><img src="public/images/CreativeV1/site5.jpg" class="img-responsive" /></a></div>
          <div class="col-md-4"><a href="public/images/CreativeV1/site6_big.jpg" target="_blanck" class="thumbnail"><img src="public/images/CreativeV1/site6.jpg" class="img-responsive" /></a></div>
        </div>

        </div><!--/right-->
  	</div><!--/row-->
</div><!--/container-->

#{script 'masterhead.js' /}		
